* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc((100vh - 30rem) / 2);
    left: calc((100vw - 20rem) / 2);
}

textarea {
    height: 10rem;
    width: 20rem;
    font-size: x-large;
    border: 3px solid rgb(66, 179, 37);
    resize: none;
}

.top-action-cont {
    gap: 5px;
}

.top-action-cont>button {
    background-color: #7be672a1;
    cursor: pointer;
}

.bottom-actions-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-actions-cont>button {
    background-color: #7be672a1;
    color: black;
    height: 2rem;
    width: 20rem;
    margin: 0.1rem;
    cursor: pointer;
}

.dark-mode {
    background-color: #000000;
    color: white;
}